<body>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <div class="flex align-items-baseline" style="background:#373f51; padding: 10px; border-radius: 10px 10px 0 0;">
                <h5 style="background: transparent; color: white;">Nombre_Evento</h5>
                <p style="margin-left:30px; background: transparent; color: white;">Dia de registro</p>
                <input type="date" class="form-control" style="width: 150px;">
            </div>  
          <tr>
            <th>Nombre Completo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Juan Carlos Mendez</td>
          </tr>
          <tr>
            <td>Mariana Baeza</td>
          </tr>
        </tbody>
      </table>
    </body>